:root {
  --color-white-100: #fff;
  --color-white-eee: #eee;
  --color-white-ddd: #ddd;
  --color-white-ccc: #ccc;
  --color-black-000: #000;
  --color-black-100: #111;
  --color-black-200: #222;
  --color-black-300: #333;
  --color-black-600: #666;
  --color-yellow-200: goldenrod;
  --color-blue-100: cornflowerblue;
  --color-purple-100: #bd9dff;
  --font-monospace-default:
    ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono",
    "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas",
    "Source Code Pro", monospace;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--color-black-100);
  color: var(--color-white-100);
  /* padding: 1em; */
}

/* grid styles */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 1em;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1rem;
}

main .book-card {
  background-color: var(--color-black-200);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
}

/* end grid styles */

/* element styles */
header {
  margin: 1rem;
}

header h1 {
  font-size: 2rem;
  margin: auto 0;
}

a {
  text-decoration: none;
  color: var(--color-purple-100);
}

a,
p,
span,
button,
form label,
form input {
  font-size: 1.4rem;
}

header > #addBook {
  padding: 0 0.8rem;
  background-color: var(--color-purple-100);
  border-radius: 0.5rem;
  border: none;
}

main {
  padding: 2rem;
}

.book-card > h3 {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.book-card > p {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.book-card > p > span {
  color: var(--color-black-600);
}

.book-card #remove {
  background-color: var(--color-black-600);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-white-100);
  padding: 0.8rem 2rem;
  /* width: clamp(150px, 20%, 300px); */
  margin: auto auto 0 auto;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #333;
}

footer > p {
  margin: auto;
}
/* end element styles */

/* modal */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-black-300);
  border-radius: 1rem;
  padding: 2rem 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(325px, 30vw, 500px);
  visibility: hidden;
  z-index: 1;
}

form > p {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 1rem;
}

form > p > label {
  /* margin: auto 0; */
  align-self: center;
}

form input {
  height: 2.8rem;
}

form #submit {
  background-color: var(--color-black-600);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-white-100);
  padding: 0.8rem 2rem;
  margin: auto auto 0 auto;
}

form #cancel {
  /* display: block; */
  background-color: var(--color-black-600);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-white-100);
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-left: auto;
}

form #isRead {
  width: fit-content;
  margin-left: 40%;
}
